<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workspace.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @workspace.owner_id %>
</p>


<%= link_to 'Edit', edit_workspace_path(@workspace) %> |
<%= link_to 'Back', workspaces_path %>
